{% extends 'base.html' %}

{% block button %}
  <form  class="form-inline my-2 my-lg-0"><a href="{% url 'poll_create' %}" class="btn btn-outline-info">Создать опрос</a></form>
{% endblock %}


{% block content %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for poll in polls %}
        <div class="col-sm-12">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">{{ poll.question }}</h5>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <form><a href="{% url 'delete_poll' poll.pk %}" class="btn btn-danger">Удаление</a></form>
                        </div>
                        <div class="col-auto my-1">
                            <form><a href="{% url 'poll_view' poll.pk %}" class="btn btn-primary">Подробнее</a></form>
                        </div>
                        <div class="col-auto my-1">
                            <form><a href="{% url 'poll_update' poll.pk %}" class="btn btn-success">Редаклирование</a></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}