{% extends 'base.html' %}

{% block content %}
        <div class="col-sm-12">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">{{ poll.question }}</h5>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <form><a href="*" class="btn btn-danger">Удаление</a></form>
                        </div>
                        <div class="col-auto my-1">
                            <form><a href="{% url 'poll_update' poll.pk %}" class="btn btn-success">Редаклирование</a></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}